body{
    padding:0;
    margin:0;
    background-color: #262626;
    color: #dfdfdf;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}
.navbar {
    padding: 0;
    margin: 0;
    background-color: #181818;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181818;
    width: 100%;
    /*  
    position: sticky;
    position: -webkit-sticky; /* Safari */
    position: relative;
  }
.navbar li {
    float: left;
    padding:0px 0px;
  }
.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    /*display:inline-block;*/
  }
.navbar li a:hover {
    background-color: #d1ff82;
    color: #181818;
  }

.info {
    margin:0 16px;
}
.info a {
    text-decoration: underline;
    color: #d1ff82;
}


#first-data-footer {
    text-align: center;
}
#last-data-footer {
    text-align: center;
}

.plot-div {
    margin:0 16px;
    background-color: #262626;
	color: #dfdfdf;
	width:100%;
	height:auto;
	display:inline-block;
}
#temperature-plot {
	width: 85%;
	height: 500px;
    background-color: #262626;
	color: #dfdfdf;
	float: left;
}
#temperature-info {
	position: relative;
	padding-top:80px;
	width: 15%;
	height: 500px;
    background-color: #262626;
	color: #dfdfdf;
	float: right;
}
#temperature-info h3 {
	text-decoration: underline;
}
#wind-speed-plot {
	width:85%;
    height:500px;
    background-color: #262626;
	color: #dfdfdf;
	float: left;
}
#wind-speed-info {
	position: relative;
	padding-top:80px;
	width: 15%;
	height: 500px;
    background-color: #262626;
	color: #dfdfdf;
	float: right;
}
#wind-direction-plot{
	width:40%;
    height:500px;
    float: left;
    background-color: #262626;
    color: #dfdfdf;
}
#wind-speed-info h3 {
	text-decoration: underline;
}
#wind-direction-bar {
	width:60%;
    height:500px;
    float:right;
    background-color: #262626;
    color: #dfdfdf;
}
#pressure-plot {
	width:85%;
    height:500px;
    background-color: #262626;
	color: #dfdfdf;
	float: left;
}
#pressure-info {
	position: relative;
	padding-top:80px;
	width: 15%;
	height: 500px;
    background-color: #262626;
	color: #dfdfdf;
	float: right;
}
#pressure-info h3 {
	text-decoration: underline;
}

