@font-face {
	font-family: 'IBM Plex Mono';
	src:
		local('IBM Plex Mono'),
		url('../fonts/IBMPlexMono-Medium.ttf') format('ttf');
}
body{
    background-color: #262626;
    color: #dfdfdf;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}
.navbar {
    padding: 0;
    margin: 0;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181818;
    width: 100%;
    /*  
    position: sticky;
    position: -webkit-sticky; /* Safari */
    position: relative;
  }
.navbar li {
    float: left;
  }
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #d1ff82;
    color: #181818;
  }

.info {
    margin:0 16px;
}
.info h1 {
}
.info a {
    text-decoration: underline;
    color: #d1ff82;
}

/*
.info a:visited{
    text-decoration: underline;
    color: #d1ff82;
}
*/



.plot-div {
    margin:0 16px;
    background-color: #262626;
    color: #dfdfdf;
}
#temperature-plot {
    background-color: #262626;
    color: #dfdfdf;
}
#wind-speed-plot {
    background-color: #262626;
    color: #dfdfdf;
}

#wind-direction-plot{
    height:500px;
    float: left;
    background-color: #262626;
    color: #dfdfdf;
}
#wind-direction-bar {
    height:500px;
    float:right;
    background-color: #262626;
    color: #dfdfdf;
}




